<div id="footer">
  <div>
    <img id="footer-logo" src = "assets/one_line.png"/>
    <ul id ="list-items">

      <li>Time travel to:</li>
      <li><a href="/11-22-2016">22</a></li>
      <li><a href="/11-21-2016">21</a></li>
      <li><a href="/11-20-2016">20</a></li>
      <li><a href="/11-19-2016">19</a></li>
      <li><a href="/11-18-2016">18</a></li>
      <li><a href="/11-17-2016">17</a></li>
      <li><a href="/11-16-2016">16</a></li>
      <li><a href="/11-15-2016">15th</a></li>
    </ul>
  </div>
</div>
