<div id="footer">
  <div>
    <img id="footer-logo" src = "assets/one_line.png"/>
    <ul id ="list-items">

      <li>Time travel to:</li>
      <li><a href="/11-28-2016">28</a></li>
      <li><a href="/11-27-2016">27</a></li>
      <li><a href="/11-26-2016">26</a></li>
      <li><a href="/11-26-2016">25</a></li>
      <li><a href="/11-26-2016">24</a></li>
      <li><a href="/11-26-2016">23</a></li>
      <li><a href="/11-26-2016">22</a></li>
      <li><a href="/11-26-2016">21th</a></li>
    </ul>
  </div>
</div>
