<div id="footer">
  <div>
    <img id="footer-logo" src = "assets/one_line.png"/>
    <ul>
      <li><a href="#">23</a></li>
      <li><a href="#">21</a></li>
      <li><a href="#">20</a></li>
      <li><a href="#">19</a></li>
      <li><a href="#">18</a></li>
      <li><a href="#">17</a></li>
      <li><a href="#">16</a></li>
      <li><a href="#">15th</a></li>
    </ul>
  </div>
</div>
