
<div id="header" style = "background-color:rgb(46, 46, 46)">
  <!-- <img id="logo" src = "assets/reddit_logo.png"/> -->
  <img id="logo" src = "assets/left_arrow_only_one_line.png"/> Yesterday's Reddit
</div>
