
<div id="header" style = "background-color:rgb(46, 46, 46)">
  <!-- <img id="logo" src = "assets/reddit_logo.png"/> -->
  <div id ="logo-content">
    <div class="column">
      <img id="logo" src = "assets/left_arrow_only_one_line.png"/>
    </div>
    <div class="column">
      Showing: <%= formattedDate %>
    </div>
  <div>
</div>
