<!DOCTYPE html>
<html>
  <head>
  <% include ../partials/head %>
  </head>

  <body>

    <header>
      <% include ../partials/header %>
    </header>
    <div>this will be replaced by reddit content</div>

    <% include ../partials/footer %>


  </body>

</html>
