<!DOCTYPE html>
<html>
  <head>
  <% include ../partials/head %>
  </head>

  <body>

    <header>
      <% include ../partials/header %>
    </header>
<!-- this is where reddit goes -->
    <% include ../../web/archives/sites/reddit.html %>

    <% include ../partials/footer %>


  </body>

</html>
